.base {
    display: flex;
    margin-top: 25px;
    background-color: white;
    width: 1013px;
    height: 200px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform .5s ease;
    cursor: pointer;
}
.base:hover {
    transform: scale(1.1);
  }
.imgProps {
    padding: 10px;
    border-radius: 25px;
    width: 30%;
}
.title{
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    color: #45B976;
    padding-top: 10px;
    padding-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.subheading{
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    font-weight: 500;
    padding-bottom: 10px;


}
.content{
    /* font-family: 'Roboto', sans-serif; */
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: 21px;
    /* font-weight: 500; */
}
.container{
    display: flex;
    width: 713px;
    /* align-self:stretch; */
    justify-content: space-between;
}
@media only screen and (max-width: 600px) {
    .base {
        display: flex;
        
        background-color: white;
        width: 713px;
        height: 114px;
        border-radius: 25px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .imgProps {
        padding: 10px;
        border-radius: 25px;
        width: 38%;
    }
    .title{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: #45B976;
        padding-top: 10px;
        padding-bottom: 0px;
        display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    }
    .subheading{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 500;
    }
    .content{
        /* font-family: 'Roboto', sans-serif; */
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-style: 21px;
        /* font-weight: 500; */
    }
    .container{
        display: flex;
        width: 195px;
        /* align-self:stretch; */
        justify-content: space-between;
    }
  }
  
  @media only screen and (min-width: 600px) and (max-width: 768px) {
    .base {
        display: flex;
        
        background-color: white;
        width: 727px;
        height: 200px;
        border-radius: 25px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .imgProps {
        padding: 10px;
        border-radius: 25px;
        width: 38%;
    }
    .title{
        font-family: 'Roboto', sans-serif;
        font-size: 32px;
        color: #45B976;
        padding-top: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .subheading{
        font-family: 'Roboto', sans-serif;
        font-size: 27px;
        font-weight: 500;
    }
    .content{
        /* font-family: 'Roboto', sans-serif; */
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-style: 21px;
        /* font-weight: 500; */
    }
    .container{
        display: flex;
        width: 460px;
        /* align-self:stretch; */
        justify-content: space-between;
    }
  }